.address-form {
    /* min-width: 400px; */
    max-width: 450px;
    padding-right: 20px;
    border-right: 1px solid #eaeaec;
    flex: 2;
}

.cart-popup-close-btn {
    display: flex;
    justify-content: end;
}

.address-form h3 {
    font-size: 14px;
    margin: 0 0 16px 0;
    /* text-align: ; */
}

.address-form input {
    margin-top: 4px;
    margin-bottom: 14px;
    padding: 12px 12px;
    background-color: transparent;
    border: 1px solid #8b8b8b;
    border-radius: 5px;
    outline: none;
    flex: auto;
    font-size: 14px;
    width: -webkit-fill-available;
}

.address-form > form > button {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    margin-top: 15px;
    border-radius: 5px;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    border: none;
    cursor: pointer;
    color: #2B2B2B;
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    background: #FFCB00;
    text-decoration: none;
    width: 100%;
    transition: .2s ease-in-out;
}

/* .address-form input:last-of-type {
    margin-bottom: 30px;
} */

::placeholder {
    color: #9f9f9f;
}

textarea {
    font-family: "Poppins", sans-serif;
    margin-top: 5px;
    margin-bottom: 16px;
    padding: 12px 12px;
    background-color: transparent;
    border: 1px solid #8b8b8b;
    border-radius: 5px;
    outline: none;
    flex: auto;
    font-size: 14px;
    resize: none;
    width: -webkit-fill-available;
}

.address-card{
    padding-top: 20px;
    margin: 20px;
    max-width: 750px;
}

.address-card-content {
    border: 0.5px #AAAAAA solid;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-around;
}

.address-card-content span {
    margin: 30px 0;
}

.address-card-content p {
    margin: 0;
}

.address-card input {
    accent-color: #a6602d;
}

.checkout-address-container {
    flex: 0.6;
}

.checkout-address-container button{
    width: 100%;
    border: 0.5px #aaaaaa solid;
    padding: 20px;
    background-color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.checkout-address-container button:hover{
    cursor: pointer;
}