

.all-orders-main-container{
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.all-orders-content{
    padding: 20px;
}

.all-orders-product-card{
    display: flex;
    flex-direction: row;
    padding: 2px;
    margin: 2px;
}

.all-orders-product-content{
    padding: 8px;

}