.checkout-navbar {
    position: fixed;
    background-color: white;
    height: 11.6vh;
    box-shadow: 1px 0px 16px 0.1px rgb(185, 183, 183);
    width: 100%;
    z-index: 2;
    margin-top: -11.6vh;
    display: flex;
    justify-content: center;
}

.checkout-navbar img {
    height: 100%;
    cursor: pointer;
    position: absolute;
    left: 3.4vw;
}

.checkout-navbar-content {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(12px, 1.25vw, 18px);
}

.checkout-navbar-content {
    color: #AAAAAA;
}

.checkout-navbar-line {
    margin: 0 10px;
    flex: 1;
    border-top: 2px dashed #AAAAAA;
    max-width: 250px;
}

@media (max-width: 860px) {
    .checkout-navbar {
        height: 8vh;
        margin-top: -8vh;
    }

    .checkout-navbar-line {
        margin: 0 5px;
    }
}

.checkout-main-container {
    font-weight: 300;
    padding: 32px 50px;
    display: flex;
    gap: 60px;
    justify-content: center;
}

.checkout-main-container h1 {
    font-size: 20px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 16px;
}

.checkout-my-cart {
    /* min-width: 400px; */
    max-width: 614px;
    flex: 1;
}

.checkout-offers {
    padding: 16px 18px 12px;
    border: 1px solid #eaeaec;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 40px;
}

.fa-tags {
    margin-right: 8px;
}

.checkout-offers h3 {
    font-size: 14px;
    margin: 0;
    margin-bottom: 13px;
    display: inline-block;
}

.checkout-offer p {
    margin: 0;
    font-size: 12px;
}

.checkout-product-card {
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    margin-bottom: 20px;
}

.checkout-product-content {
    height: fit-content;
    padding: 12px;
    padding-right: 18px;
    display: flex;
    justify-content: space-between;
}

.checkout-product-button {
    display: flex;
    border-top: 1px solid #aaaaaa;
}

.checkout-product-button h3 {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
}

.checkout-product-button>div {
    padding: 14px 0;
    color: #808080;
    cursor: pointer;
}

.checkout-product-remove {
    text-align: center;
    flex: 1;
    border-right: 1px solid #aaaaaa;
}

.checkout-product-wishlist {
    text-align: center;
    flex: 3;
}

.checkout-product-card:last-of-type {
    margin-bottom: 0;
}

.checkout-product-img-container {
    height: 120px;
    aspect-ratio: 3/4;
}

.checkout-product-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.checkout-product-details {
    display: flex;
    gap: 24px;
    flex: 1;
}

.checkout-product-details h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
}

.checkout-product-details p {
    color: #555555;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.checkout-product-input {
    margin: 8px 0;
    display: flex;
    gap: 12px;
}

.checkout-product-input select {
    border: none;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight: 400;
    color: #555555;
}

.checkout-dropdown {
    border: 1px solid #808080;
    display: flex;
    padding-left: 5px;
    padding: 2px 0 2px 5px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    height: 20px;
    font-weight: 400;
    color: #555555;
    cursor: pointer;
}

.checkout-product-input option {
    font-weight: 500;
}

.checkout-product-input option:disabled {
    font-weight: 500;
    color: #bcbcbc;
}

.checkout-product-input h5 {
    margin: 0;
    font-weight: 400;
}

.checkout-product-price {
    align-self: end;
}

.checkout-product-price h3 {
    font-size: 24px;
    margin: 0;
    font-weight: 400;
}

.checkout-product-price p {
    font-size: 10px;
    margin: 0;
    color: #555555;
    font-weight: 400;
}

.checkout-order-summary {
    /* min-width: 220px; */
    max-width: 380px;
    flex: 2;
}

.checkout-order-summary-content {
    /* width: 100%; */
    padding: 20px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.checkout-order-summary h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 16px 0;
}

.checkout-summary-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.checkout-summary-details p {
    font-size: 14px;
    margin: 0;
    font-weight: 300;
}

.checkout-order-summary hr {
    border: none;
    height: 1px;
    background-color: #aaaaaa;
    margin: 20px 0;
}

.checkout-total-amount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.checkout-total-amount p {
    font-size: 15px;
    margin: 0;
    font-weight: 500;
}

.cart-order-btn-container {
    display: flex;
    justify-content: center;
}

.cart-order-btn {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    border: none;
    cursor: pointer;
    color: #2B2B2B;
    font-size: 14px;
    padding: 14px 0;
    background: #FFCB00;
    text-decoration: none;
    width: 80%;
    transition: .2s ease-in-out;
}

.cart-order-btn:hover {
    background-color: #FFB800;
    box-shadow: 0 0 4px 0 #FFB800;
}

.checkout-select-delivery p {
    font-size: 14px;
    color: #555555;
    margin: 0;
}

.checkout-select-delivery input {
    accent-color: #00ac31;
}

.checkout-select-delivery label {
    margin-bottom: 12px;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.cart-popup-background {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.2);
}

.cart-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: width 2s ease-in;
    border-radius: 20px;
    rotate: 10;
    z-index: 1;
    text-align: center;
}

.cart-popup .fa-times {
    margin-left: 95%;
}

.cart-popup-content {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    width: 285px;
}


.cart-popup-content>button {
    padding: 5px;
    border-radius: 10px;
    background-color: #706E5C;
    font-family: Fraunces;
    font-size: 15px;
    font-weight: 300;
    height: 50px;
    width: 150px;
}

@media (max-width: 768px) {
    .checkout-main-container {
        flex-direction: column;
        padding: 25px 15px;
        gap: 10px;
    }

    .checkout-my-cart {
        max-width: none;
        /* min-width: none; */
        width: 100%;
        border-right: none;
        margin-bottom: 26px;
    }

    .checkout-delivery-method {
        max-width: none;
        width: 100%;
    }

    .checkout-order-summary {
        max-width: none;
    }

    /* .checkout-product-input {
        flex-direction: column;
    } */

    .checkout-product-img-container {
        height: 90px;
    }

    .checkout-product-details h3 {
        font-size: 14px;
    }

    .checkout-product-details p {
        font-size: 12px;
    }

    .checkout-product-input {
        gap: 5px;
    }

    .checkout-product-price h3 {
        font-size: 18px;
    }

    .checkout-product-price p {
        font-size: 8px;
    }

    .checkout-product-button h3 {
        font-size: 14px;
    }

    .checkout-product-button>div {
        padding: 10px 0;
    }

    .checkout-order-summary h3 {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .checkout-select-delivery label {
        margin-bottom: 7px;
    }

    .checkout-order-summary p {
        font-size: 12px;
    }

    .checkout-summary-details {
        margin-bottom: 7px;
    }

    .checkout-order-summary hr {
        margin: 16px 0;
    }

    .checkout-total-amount p {
        font-size: 14px;
    }

    .checkout-product-details {
        gap: 10px;
    }

    .cart-popup {
        width: 70%;
    }
}

@media (max-width: 400px) {
    .checkout-product-price p {
        display: none;
    }
}