.checkout-main-container { 
    background-color: #fefaf0; 
    font-family: "Roboto", sans-serif; 
    color: rgba(87, 87, 87, 1); 
    font-weight: 300; 
    padding: 95px 70px; 
    display: flex; 
    justify-content: center; 
    gap: 52px; 
} 
 
.checkout-main-container h1 { 
    font-size: 20px; 
    margin: 0; 
    padding-top: 10px; 
    padding-bottom: 16px; 
} 
 
.checkout-my-cart { 
    flex: 2; 
    min-width: 510px; 
    max-width: 610px; 
} 
 
.checkout-order-summary { 
    min-width: 275px; 
    max-width: 315px; 
    flex: 1; 
} 
 
hr { 
    border: 0; 
    height: 1px; 
    background: rgba(173, 172, 167, 0.7); 
    margin: 0; 
} 
 
.checkout-product-card { 
    height: 100px; 
    padding: 32px 0; 
    display: flex; 
    gap: 20px; 
} 
 
.checkout-product-img-container img { 
    height: 100%; 
} 
 
.checkout-product-name h2 { 
    font-size: 17px; 
    margin-bottom: 14px; 
    margin-top: 0; 
} 
 
.checkout-product-price h3 { 
    font-size: 15px; 
    margin: 0; 
} 
 
.checkout-product-details { 
    flex: 2; 
} 
 
.checkout-product-quantity input { 
    width: 40px; 
    height: 22px; 
    font-size: 12px; 
    margin-bottom: 32px; 
    padding-left: 14px; 
    background-color: transparent; 
    border-radius: 0; 
    color: #000000; 
    border: 1px solid #000000; 
} 
 
.checkout-product-quantity { 
    flex: 1; 
    text-align: right; 
} 
 
.checkout-product-net-price h3 { 
    margin: 0; 
    font-size: 17px; 
    font-weight: 500; 
} 
 
.checkout-product-net-price { 
    flex: 1; 
    text-align: right; 
} 
 
.checkout-product-cancel { 
    flex: 0.5; 
    text-align: right; 
} 
 
.checkout-product-cancel button { 
    cursor: pointer; 
    border: none; 
} 
 
.checkout-order-price-details { 
    padding-top: 32px; 
    padding-bottom: 32px; 
    display: grid; 
    grid-template-columns: auto auto; 
    column-gap: 110px; 
    row-gap: 18px; 
} 
 
.checkout-price-title { 
    justify-self: start; 
} 
 
.checkout-price { 
    justify-self: end; 
} 
 
.line-break { 
    grid-column-start: 1; 
    grid-column-end: 3; 
} 
 
.checkout-order-price-details h2 { 
    font-size: 16px; 
    margin: 0; 
} 
 
.checkout-order-price-details strike { 
    margin-right: 7px; 
} 
 
.checkout-order-total { 
    margin-top: 12px; 
} 
 
.checkout-order-price-details h1 { 
    font-size: 20px; 
    margin: 0; 
    padding: 0; 
} 
 
.checkout-btn { 
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
    border-radius: 0px; 
    color: #FEFAF0; 
    font-size: 17px; 
    background: #706E5C; 
    padding: 10px 0px 10px 0px; 
    text-decoration: none; 
    border: none; 
    font-weight: 300; 
    transition: background-color .2s ease-in-out, color .2s ease-in-out; 
    width: 100%; 
    cursor: pointer; 
} 
 
.checkout-btn:hover { 
    background: rgba(112, 110, 92, 0.7); 
    color: rgba(254, 250, 240, 0.7); 
} 
 
.cart-popup { 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 20px; 
    /* border: 1px solid black;  */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    transition: width 2s ease-in; 
    border-radius: 20px;
    rotate: 10; 
} 
 
.cart-popup-content { 
    text-align: center; 
    display: flex; 
    flex-direction: row; 
    padding: 10px;
    /* background-color: #706E5C; */
} 
 
.cart-popup-content input { 
    padding: 10px; 
    border: none; 
} 
 
.cart-popup-content-button { 
    margin: 2%; 
    margin-top: 9%; 
    padding: 10px; 
} 
 
 
@media (min-width: 600px) and (max-width: 910px) { 
    .checkout-main-container { 
        flex-direction: column; 
        gap: 80px; 
        justify-content: center; 
        padding: 50px; 
    } 
 
    .checkout-my-cart { 
        flex: 1; 
        max-width: none; 
        min-width: none; 
    } 
 
    .checkout-order-summary { 
        max-width: none; 
        min-width: none; 
    } 
 
    .checkout-product-net-price { 
        text-align: right; 
    } 
 
    .checkout-product-cancel { 
        text-align: right; 
    } 
} 
 
@media (max-width: 600px) { 
    .checkout-main-container { 
        flex-direction: column; 
        gap: 80px; 
        justify-content: center; 
        padding: 25px; 
    } 
 
    .checkout-main-container h1 { 
        font-size: 19px; 
    } 
 
    .checkout-my-cart { 
        flex: 1; 
        max-width: none; 
        min-width: auto; 
    } 
 
    .checkout-product-card { 
        padding: 18px 0; 
        display: grid; 
        grid-template-columns: min-content auto auto; 
        grid-template-rows: 15px 50px auto; 
        height: auto; 
        column-gap: 20px; 
    } 
 
    .checkout-order-summary { 
        max-width: none; 
        min-width: auto; 
    } 
 
    .checkout-product-img-container { 
        grid-row-start: 1; 
        grid-row-end: 3; 
        grid-column-start: 1; 
        grid-column-end: 2; 
    } 
 
    .checkout-product-details { 
        grid-row-start: 1; 
        grid-row-end: 2; 
        /* grid-column-start: 1; 
        grid-column-end: 2; */ 
    } 
 
    .checkout-product-name h2 { 
        font-size: 15px; 
    } 
 
    .checkout-order-price-details h2 { 
        font-size: 15px; 
        margin: 0; 
    } 
 
    .checkout-product-quantity { 
        text-align: center; 
        grid-column-start: 1; 
        grid-column-end: 2; 
        grid-row-start: 3; 
        grid-row-end: 4; 
    } 
 
    .checkout-product-quantity input { 
        margin: 0; 
        /* width: 100%; */ 
    } 
 
    .checkout-product-price { 
        display: none; 
    } 
 
    .checkout-product-net-price { 
        text-align: left; 
        grid-row-start: 2; 
        grid-row-end: 4; 
        grid-column-start: 2; 
        grid-column-end: 3; 
    } 
 
    .checkout-product-cancel { 
        text-align: right; 
        grid-row-start: 1; 
        grid-row-end: 4; 
    } 
 
    .checkout-order-price-details { 
        column-gap: 70px; 
    } 
 
    .checkout-order-price-details h1 { 
        font-size: 18px; 
    } 
}