.change-password-input {
    margin-bottom: 20px;
}

.forgot-password-form p {
    color: red;
    font-size: 12px;
}

@media (max-width: 550px) {
    .change-password-input {
        margin-bottom: 5px;
    }
}