.exchange-title {
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.exchange-title h1 {
    font-size: max(3.854125vw, 42px);
    font-weight: 300;
}

.exchange-main-container {
    padding: 5vw 15vw;
}

.exchange-container {
    margin-bottom: 3.21vw;
}

.exchange-container h2 {
    font-size: 2.65625vw;
    margin: 0;
    margin-bottom: 1.56vw;
    font-weight: 300;
}

.exchange-container p {
    font-size: 16px;
    margin: 0;
    line-height: 1.58;
    font-weight: 200;
}