.footer {
    padding: 40px 0;
    background-color:  rgb(255,226,128);
    /* align-items: center; */
    color: black;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.horizontal-rule{
    /* color: black; */
    background-color: black;
}

.footer-content .footer-phone {
    margin-bottom: 15px;
}

.footer h3 {
    text-align: left;
    font-size: 20px;
}

.footer .footer-contact {
    text-align: left;
    /* padding-bottom: 25px; */
    /* color: #4b4c4d; */
    padding: 25px;
}

.footer-useful-links{
    padding: 25px;
}

.footer .footer-logo {
    align-self: center;
    padding: 25px;
}

.footer .footer-logo img {
    height: 180px;
}

.footer-list a {
    font-size: 16px;
}

.footer .footer-contact a {
    font-size: 30px;
    color: inherit;  
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .footer-contact a:hover {
    opacity: 0.9;
}

.footer-social a{
    transition: 300ms transform;
    /* border-color:black ; */
}

.footer-social a:hover{
    transform: rotateZ(-10deg);
    /* scale: 1.07; */
    /* transition: 300ms; */

}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    /* display: inline-block; */
    padding-bottom: 5px;
}

.footer ul a:hover {
    opacity: 1;
}

.footer .footer-copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}

@media screen and (max-width:724px) {
    .footer {
        font-size: 14px;
        padding-top: 0;
        padding-bottom: 15px;
    }

    .footer-content{
        display: inline-flex;
        /* background-color: red; */
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* align-items: center; */
        /* flex-direction: column; */
    }

    .footer h3 {
        font-size: 16px;
    }

    .footer-list a {
        font-size: 14px;
    }

    .footer-logo {
        /* background-color: green; */
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }

    .footer-useful-links{
        /* background-color: orange; */
        width: 42%;
    }

    .footer-contact{
        /* background-color: maroon; */
        width: 42%;
    }
}

@media screen and (max-width:625px) {
    .footer-content{
        display: inline-flex;
        /* background-color: red; */
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* align-items: center; */
    }

    .footer ul {
        text-align: center;
    }

    .footer h3 {
        text-align: center;
    }

    .footer-logo{
        /* background-color: green; */
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }

    .footer-useful-links{
        /* background-color: orange; */
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-useful-links .list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-contact{
        /* background-color: maroon; */
        width: 80%;
        display: flex;
        flex-direction: column;
        /* flex-shrink: 0; */
        gap: 0;
        /* justify-content: center; */
        align-items: center;
        
    }
    .footer-contact hr{
        /* text-align: center; */
        width: 80%;
    }
}