/* .footer-divider-container{
    height: 150px;
    width: 100%;
    background-color:#F8E559;
    overflow: hidden;
}

.footer-divider{
    background-color:#f3f1c4;
    height:600px;
    width: 100%;
    border-radius: 50% ;
    transform: scaleX(1.8);
} */

.footer-logo-container{
    background-color:white ;
    width: 100%;
    /* margin-top: -80px; */
    display: inline-flex;
    justify-content: center;
}

.footer-logo-container .footer-logo{
    height: 55px;
    width: 95%;
    /* padding: 5px; */
    background-color:white;
    font-family: Fraunces;
    font-size: 55px;
    color: rgb(64,63,43);
    /* margin-left: 8%; */
    /* border-top: 1px solid black ; */

}

.footer-information{
    background-color: white;
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
    display: inline-flex;
}

.footer-information-left{
    background-color:white;
    width: 100%;
    display: inline-flex;
    /* margin-left: 15%; */
    /* align-items: center; */
    justify-content: center;
}

.footer-address, .footer-menu, .footer-policies, .footer-social{
    background-color:white;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    width: 350px;
    padding: 20px;
    /* justify-content: center; */
    align-items: center;
}

.footer-address-title, .footer-menu-title, .footer-policies-title, .footer-social-title{
    /* text-align: center; */
    /* padding-left: 10px; */
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 20px;
    /* width: fit-content; */
    margin: 10px;
}

.footer-menu-links, .footer-policies-links{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* margin-top: 20px; */
    gap: 25px;
    /* padding: 10px; */
    height: 150px;
    /* width: max-content; */
    margin-left: 10px;
    margin-top: 22px;
}

.footer-social-links{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    width: 50px;
    margin-left: 10px;
    margin-top: 22px; 
}

.footer-location{
    background-color: white;
    height: 250px;
    width: fit-content;
    /* padding: 10px; */
    /* width: 30%; */
    /* text-align: center; */
    /* margin-top: px; */
    margin-left: 10px;
}

.footer-menu-links > a , .footer-policies-links > a , .footer-social-links > a {
    /* font-family: Fraunces; */
    text-decoration: none;
    color: black;
    font-size: 16px;
    height: 20px;
    padding: 2px;
} 

.footer-menu-links > a:hover, .footer-policies-links > a:hover , .footer-social-links > a:hover {
    /* font-family: Fraunces; */
    text-decoration: none;
    color: black;
    font-size: 18px;
}
/* 
.footer-information-right{
    width: 35%;
    background-color:aquamarine;

}

.form-container .form{
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.form > div{
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
    font-size:15px ;
}

.email .email-input{
    width: 90%;
    height: 28px;
    border-radius: 4px;
}
.name .name-input{
    width: 90%;
    height: 28px;
    border-radius: 4px;
}

.submit-form{
width: 92%;
height: 30px;
border-radius: 4px;
background-color: white;
} */

@media screen and (max-width:560px){
    .footer-information{
        background-color:white;
    }
    
    .footer-information-left{
        background-color:white;
        display: grid;
        gap: 0;
        grid-template-columns: auto;
    }
    
    .footer-address, .footer-menu, .footer-policies, .footer-social{
        background-color:white;
        display: flex;
        flex-direction: column;
        width:auto;
        /* border-bottom: 1px solid black; */
    }
    
    .footer-address-title, .footer-menu-title, .footer-policies-title, .footer-social-title{
        text-align: center;
        font-family: Fraunces;
        font-weight: bolder;
        font-size: 20px;
        text-decoration: underline;
    }
    
    .footer-menu-links, .footer-policies-links, .footer-social-links{
        background-color:white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-location{
        /* background-color: antiquewhite; */
        overflow-wrap: break-word;
    }
    
    .footer-menu-links > a , .footer-policies-links > a , .footer-social-links > a {
        text-decoration: none;
        color: black;
        font-size: 16px;
        height: 20px;
        padding: 2px;
    } 
    
    .footer-menu-links > a:hover, .footer-policies-links > a:hover , .footer-social-links > a:hover {
        text-decoration: none;
        color: black;
        font-size: 18px;
    }

    .footer-divider-container{
        height: 150px;
        width: 100%;
        /* background-color:#fefaf0; */
        background-color:white;
        overflow: hidden;
    }
    
    .footer-divider{
        background-color:white;
        height:600px;
        width: 100%;
        border-radius: 50% ;
        transform: scaleX(2.1);
    }
}