.home-mobile {
    display: none;
}

.home-carousel .swiper {
    width: 100%;
    height: 100%;
}

.home-carousel .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-carousel .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-new-collection {
    padding: 40px 70px;
    /* height: 500px; */
}

.home-new-collection h2 {
    font-size: 28px;

}

.home-new-collection-imgs {
    display: flex;
    gap: 40px;
    padding: 30px 60px;
}

.home-new-collection-imgs div {
    /* height: 100%; */
    flex: 1;
}

.home-new-collection-imgs img {
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
}

.home-what-we-offer {
    padding: 0 70px;
}

.home-what-we-offer h2 {
    text-align: center;
    font-size: 28px;
    margin: 0;
    color: #42210B;
}

.home-what-we-offer-grid {
    display: grid;
    padding: 40px 20px 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1.5fr .75fr;
    column-gap: 30px;
}

.home-what-we-offer-card {
    background-color: #F9E8DC;
    text-align: center;
    flex: 1;
    border-radius: 14px;
    padding: 2vw 1vw;
    transition: .2s ease-in-out;
}

.home-what-we-offer-card:hover {
    background-color: #FFA180;
    cursor: pointer;
}

.home-what-we-offer-grid .home-what-we-offer-card:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.home-what-we-offer-grid .home-what-we-offer-card:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.home-what-we-offer-grid .home-what-we-offer-card:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.home-what-we-offer-grid .home-what-we-offer-card:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.home-what-we-offer-card img {
    width: 35%;
    margin-bottom: 1vw;
    aspect-ratio: 1/1;
}

.home-what-we-offer-card h3 {
    font-size: max(1.5vw, 20px);
    line-height: 1.3;
    font-weight: 300;
}

.home-what-we-offer-card p {
    font-size: 14px;
    font-weight: 200;
}

.home-what-we-offer-btn-container {
    text-align: center;
    margin-bottom: 40px;
}

.home-what-we-offer-btn {
    -webkit-border-radius: 5;
    cursor: pointer;
    -moz-border-radius: 5;
    border-radius: 5px;
    border: none;
    font-family: "Poppins", sans-serif;
    color: #0F0F0F;
    font-size: 16px;
    background: #FFE281;
    padding: 10px 40px;
    text-decoration: none;
}

.home-banner img {
    width: 100%;
}

.home-banner {
    width: 100%;
    padding: 40px 0;
}

.home-banner-mobile {
    display: none;
}

.home-collab {
    padding: 0 70px 40px
}

.home-collab h2 {
    font-size: 28px;
}

.home-collab-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-collab-content {
    flex: 1;
    max-width: 600px;
    padding: 1.38vw 5.55vw;
    background-color: #F9E8DC;
    color: #0F0F0F;
    text-align: center;
    border-radius: 170px 170px 0 170px;
    height: fit-content;
}

.home-collab-content h3 {
    font-size: 36px;
}

.home-collab-content p {
    font-size: 16px;
    text-align: left;
    line-height: 1.3;
}

.home-collab-img {
    height: 100%;
    flex: 1;
    text-align: right;
}

.home-collab-img img {
    height: 100%;
    width: 100%;
}

.home-collab-btn {
    -webkit-border-radius: 5;
    cursor: pointer;
    -moz-border-radius: 5;
    border-radius: 5px;
    border: none;
    font-family: Arial;
    color: #0F0F0F;
    font-size: 16px;
    background: #FFE281;
    padding: 10px 40px;
    text-decoration: none;
}

.home-collab-btn-container {
    text-align: center;
    margin-bottom: 35px;
}

.home-testimonial {
    padding: 50px;
}

.home-testimonial-design-container {
    /* text-align: center; */
    z-index: -2;
    position: relative;
    width: 100%;
}

.home-testimonial-design-container img {
    z-index: -2;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.home-testimonial-heading {
    margin-top: 65px;
    text-align: center;
}

.home-testimonial-heading h2 {
    font-size: 32px;
    margin: 0;
}

.home-testimonial-heading p {
    font-size: 14px;
}

.home-testimonials-card-container {
    margin-top: 7vw;
}

.home-testimonial-card {
    position: relative;
    text-align: center;
    user-select: none;
    background-color: #F9E8DC;
    width: 370px;
    border-radius: 5px;
    height: 210px;
    padding: 60px 40px 100px;
}

.home-testimonial-card h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.home-testimonial-card p {
    margin: 0;
    margin-top: 50px;
    font-size: 16px;
    line-height: 19.42px;
}

.home-testimonial-img {
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: 0;
    left: 50%;
    border-radius: 50%;
    border: 10px solid #FFCB00;
    transform: translate(-50%, 50%);
}

.home-testimonial-img img {
    border-radius: 50%;
}

.home-testimonial .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
}

.home-testimonial .swiper-slide {
    background-position: center;
    background-size: cover;
    width: fit-content;
    height: fit-content;
}

.home-testimonial .swiper-slide img {
    display: block;
    width: 100%;
}

@media screen and (max-width:800px) {
    .home-desktop {
        display: none;
    }

    .home-mobile {
        display: block;
        padding: 20px;
    }

    .home-carousel img {
        border-radius: 5px;
    }

    .home-banner {
        padding: 0;
        border-radius: 5px;
    }

    .home-banner img {
        width: 100%;
        border-radius: 5px;
    }

    .home-new-collection {
        padding: 20px 0;
    }

    .home-new-collection h3 {
        font-size: 24px;
        margin: 0;
    }

    .home-new-collection-grid {
        display: grid;
        margin: 20px 0 0;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .home-new-collection-grid div {
        width: 100%;
        border-radius: 5px;
    }

    .home-new-collection-grid img {
        border-radius: 5px;
        width: 100%;
        aspect-ratio: 3/4;
        object-fit: cover;
    }

    .home-what-we-offer {
        padding: 0;
    }

    .home-what-we-offer h3 {
        margin: 0;
        font-size: 24px;
    }

    .home-what-we-offer-grid-mobile {
        margin: 20px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .home-what-we-offer-card {
        padding: 10px;
    }

    .home-what-we-offer-card h3 {
        font-size: 16px;
    }

    .home-what-we-offer-card p {
        font-size: 10px;
    }

    .home-what-we-offer-btn {
        font-size: 12px;
    }

    .home-what-we-offer-btn-container {
        margin-bottom: 20px;
    }

    .home-collab {
        margin: 20px 0;
        padding: 0;
    }

    .home-collab h3 {
        margin: 20px 0;
    }

    .home-collab-container {
        background-color: #FFE281;
        padding: 20px;
        text-align: center;
        border-radius: 5px;
    }

    .home-collab-container h4 {
        font-size: 16px;
        margin: 0;
        margin-bottom: 30px;
        color: #0F0F0F;
        font-weight: 600;
    }

    .home-collab-container p {
        font-size: 12px;
        line-height: 1.25;
    }

    .home-collab-btn button {
        -webkit-border-radius: 5;
        cursor: pointer;
        -moz-border-radius: 5;
        border-radius: 5px;
        border: none;
        font-family: "Poppins", sans-serif;
        color: white;
        font-size: 10px;
        background: #42210B;
        padding: 10px 40px;
        text-decoration: none;
    }

    .home-testimonials h3 {
        margin: 20px 0;
    }

    .home-testimonial-card {
        width: 260px;
        height: 250px;
        padding: 18px 10px;
    }

    .home-testimonial-img-container {
        display: flex;
        justify-content: center;
    }

    .home-testimonial-img {
        position: static;
        height: 70px;
        width: 70px;
        transform: none;
    }

    .home-testimonial-img img {
        height: 100%;
        width: 100%;
    }

    .home-testimonial-card p {
        margin-top: 12px;
        font-size: 11px;
        line-height: 1.21;
        margin-bottom: 20px;
    }

    .home-testimonial-card h4 {
        font-size: 16px;
    }
}