.home-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 11.4vh;
    /* background-color: aqua; */
}

.home-top-carousal {
    width: 100%;
    /* min-height: 62vw; */
    /* height: 100vh; */
    height: fit-content;
    background-color: white;
    position: relative;
    overflow: hidden;
    /* background-color:aquamarine; */
}

.home-top-carousal-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-carousal-image-blur {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 2;
}


.home-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-bottom-container-one {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container-one-title,
.home-container-two-title {
    width: 95%;
    font-size: 64px;
    font-size: calc(31px + 2vw);
    /* height: 100px; */
    border-bottom: 1px solid black;
    font-family: Tenor Sans;
    font-weight: 100;
    color: #40210b;
}

.home-container-one-cards-container {
    /* width: 100%; */
    /* height: 60vh; */
    /* padding: 10px; */
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* overflow-wrap: break-word; */
    flex-wrap: wrap;
}

.home-banner {
    width: 100%;
    /* height: calc(80px + 3vw); */
    height: fit-content;
    /* background-color: rgb(255,226,128); */
    /* padding: 2%; */
    margin: 1.5vh 0 0 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    font-weight: 500;
    background-color: aquamarine;
    /* overflow: hidden; */
}


.home-banner-mobile {
    display: none;
    width: 96%;
    /* height: calc(80px + 3vw); */
    height: fit-content;
    /* background-color: rgb(255,226,128); */
    padding: 2%;
    margin: 1.8vh 0 0 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    font-weight: 500;
}

.home-banner img {
    width: 100%;
    /* overflow: hidden; */
    /* background-color: red; */
}

.home-banner-mobile img {
    width: 96vw;
    display: none;
}

.home-bottom-container-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0; */
    margin-top: 12vh;

}

.home-container-two-video-container {
    width: 98%;
    height: 50vw;
    display: inline-flex;
    /* flex-wrap: nowrap; */
    /* flex-direction: row; */
    overflow: hidden;
    /* margin-top: 12vh; */
}

.home-bottom-container-three {
    width: 100%;
    /* height: 500px; */
    height: fit-content;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.2vh 0 2vh 0;
}

.home-container-three-top {
    width: 100%;
    /* height: 320px; */
    /* background-color: aqua; */
    display: inline-flex;
    /* padding: 1vw 0 1vw 0; */
    /* justify-content: baseline; */
    align-items: end;
    justify-content: end;
}

.home-service-one {
    /* height: 90%; */
    height: fit-content;
    width: 43%;
    background-color: rgb(255, 226, 128);
    border-top-right-radius: 40px;
    /* margin-left: 4%; */
    padding: 1% 1% 0 1%;
    display: flex;
    flex-direction: column;
}

.home-service-one>* {
    width: 75%;
    margin-left: 7%;
}

.home-service-one-title {
    margin: 2% 0 2% 6%;
    font-size: calc(2vh + 1vh);
}

.home-service-one-text,
.home-service-two-text {
    /* font-size: 16px; */
    text-wrap: wrap;
}

.home-service-one-button-container {
    margin-top: 5%;
    margin-bottom: 4%;
    height: 5vh;
    /* width: 50%; */
}

.home-service-one-button {
    height: 100%;
    /* width: calc(25vh + 10px); */
    width: calc(12vh + 10vw);
    border-radius: 22px 22px 22px 0;
    display: flex;
    /* justify-self: center; */
    align-items: center;
    justify-content: center;
    background-color: rgb(47, 43, 54);
    transition: 300ms;
    color: rgb(255, 226, 128);
    cursor: pointer;
}

.home-service-one-button:hover {
    height: 104%;
    transform: translateY(-6%);
    /* transform: scaleY(4); */
}

.home-filler-div-one {
    height: calc(12vw + 5px);
    width: 16%;
    /* padding: 1%; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 0 1% 0 1%;
    background-color: rgb(47, 43, 54);
}

.fa-long-arrow-up {
    /* transform: rotateZ(180deg) scaleY(2.1) scaleX(0.6); */
    color: rgb(255, 226, 128);
    font-size: 5vw;
    animation: bob-up-and-down 2s linear infinite;
}

@keyframes bob-up-and-down {
    0% {
        transform: translateY(-15%) rotateZ(180deg) scaleY(1.8) scaleX(0.6);
    }

    50% {
        transform: translateY(15%) rotateZ(180deg) scaleY(1.8) scaleX(0.6);
    }

    100% {
        transform: translateY(-15%) rotateZ(180deg) scaleY(1.8) scaleX(0.6);
    }
}

.home-service-two {
    /* height: 90%; */
    height: fit-content;
    width: 31%;
    padding: 1% 2% 0 1%;
    background-color: rgb(255, 226, 128);
    border-top-left-radius: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* overflow: hidden; */
}

.home-service-two>* {
    width: 94%;
    margin-left: 9%;
}

.home-service-two-title {
    margin: 2.5% 0 3% 12%;
    font-size: calc(2vh + 1vh);
}

.home-service-two-button-container {
    margin-top: 7%;
    margin-bottom: 5%;
    height: 5vh;
    /* width: 50%; */
}

.home-service-two-button {
    height: 100%;
    /* width: 52%; */
    /* width: calc(25vh + 10px); */
    width: calc(12vh + 10vw);
    /* max-width: 82%; */
    border-radius: 22px 22px 22px 0;
    display: flex;
    /* justify-self: center; */
    align-items: center;
    justify-content: center;
    background-color: rgb(47, 43, 54);
    transition: 300ms;
    color: rgb(255, 226, 128);
    /* font-size: 12px; */
    cursor: pointer;
}

.home-service-two-button:hover {
    height: 104%;
    transform: translateY(-6%);
}

.home-container-three-bottom {
    width: 100%;
    /* height: 370px; */
    display: inline-flex;
    /* padding: 0.5vw 0 1vw 0; */
    align-items: start;
    margin-top: 1.5vh;
    /* height: fit-content; */
}

.home-service-three {
    height: fit-content;
    width: 28%;
    background-color: rgb(255, 226, 128);
    border-top-right-radius: 40px;
    padding: 1% 1% 0 1%;
    display: flex;
    flex-direction: column;
}

.home-service-three>* {
    width: 94%;
    /* margin-left: 40px; */
}

.home-service-three-title {
    margin: 2% 0 2% 1%;
    color: rgb(47, 43, 54);
    font-size: calc(2vh + 1vh);
    /* color: rgb(255,226,128); */
    /* font-weight: 100; */
}

.home-service-three-text {
    color: rgb(47, 43, 54);
}

.home-service-three-button-container {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 5vh;
    /* display: none; */
    /* overflow: hidden; */
    /* width: 50%; */
}

.home-service-three-button {
    height: 100%;
    /* width: 100%; */
    /* margin-left: 20%; */
    border-radius: 22px 22px 22px 0;
    display: flex;
    /* justify-self: center; */
    align-items: center;
    justify-content: center;
    background-color: rgb(47, 43, 54);
    transition: 300ms;
    color: rgb(255, 226, 128);
    /* font-weight: 900; */
    cursor: pointer;
}

.home-service-three-button:hover {
    height: 104%;
    transform: translateY(-6%);
}

.home-service-four {
    height: fit-content;
    width: 48%;
    background-color: rgb(255, 226, 128);
    border-radius: 40px;
    margin: 0 1% 0 1%;
    padding: 1% 1% 0 1%;
    display: flex;
    flex-direction: column;
}

.home-service-four>* {
    width: 75%;
    margin-left: 40px;
}

.home-service-four-title {
    margin: 5% 0 2% 40px;
    font-size: calc(2vh + 1vh);
}

.home-service-four-button-container {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 5vh;
    /* width: 50%; */
}

.home-service-four-button {
    height: 100%;
    width: calc(25vh + 10px);
    /* margin-left: 20%; */
    border-radius: 22px 22px 22px 0;
    display: flex;
    /* justify-self: center; */
    align-items: center;
    justify-content: center;
    background-color: rgb(47, 43, 54);
    transition: 300ms;
    color: rgb(255, 226, 128);
    cursor: pointer;
}

.home-service-four-button:hover {
    height: 104%;
    transform: translateY(-6%);
}

.home-filler-div-two {
    height: calc(12vw + 5px);
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(47, 43, 54);
}

.fa-snowflake-o {
    color: rgb(255, 226, 128);
    font-size: 8vw;
    /* font-weight: lighter; */
    /* color: aliceblue; */
    /* transform: scale(.2); */
}

.home-bottom-container-four {
    width: 100%;
    height: fit-content;
    margin: 12vh 0 12vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background-color: white;
}

.home-bottom-container-four-bar,
.home-bottom-container-three-bar {
    width: 90%;
    height: 8vh;
    /* background-color: aqua; */
    border-top: 1px solid rgb(179, 179, 179);
}

.home-bar-collab-text,
.home-bar-collab-text-one {
    width: 25%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: end;
    border-top: 1px solid black;
}

.home-bottom-container-four-title,
.home-bottom-container-three-title {
    width: 90%;
    margin: 2vh 0 2vh 0;
    font-size: calc(5vw + 12px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-four-container {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 226, 128);
    border-radius: 4vh;
    padding: 3% 0 3% 0;
}

.home-four-container-text {
    width: 80%;
    text-align: left;
    font-size: 18px;
}

.home-four-container-cards-container {
    width: 90%;
    min-height: 10%;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2%;

    /* background-color: yellow; */
}

.home-fccc-card {
    /* width: 20vw; */
    width: 333px;
    aspect-ratio: 7/10;
    /* height: 49vh; */
    /* height: 28vw; */
    /* height: fit-content; */
    border-radius: 4%;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 1%;
    /* flex-shrink: 0; */
    /* flex-grow: 0; */
    /* flex:content; */
    background-color: rgb(47, 43, 54);
    color: white;
}

.home-fccc-card-title {
    width: 90%;
    /* flex: 1; */
    /* justify-self: center; */
    border-bottom: 1px solid gray;
    padding: 12% 0% 8% 0;
    font-size: calc(2.5vh + 5px);
    font-weight: 100;

}

.home-fccc-card-body {
    width: 90%;
    margin: 0;
    font-size: calc(1.5vh + 2px);
    margin: 0% 0 10% 0;
    font-weight: lighter;
    font-family: Tenor Sans;
    line-height: 1.5;
    height: 240px;
}

.home-fccc-card-desc {
    width: 90%;
    /* height: 15%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    /* color: aqua; */

}

.home-desc-one,
.home-desc-two {
    width: 100%;
    margin: 2% 0 2% 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.home-ques-one,
.home-ques-two {
    width: 30%;
    /* display: flex; */
}

.home-ans-one,
.home-ans-two {
    width: 70%;
    text-align: center;
}

.home-fccc-card-button {
    width: 90%;
    aspect-ratio: 6/1;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 226, 128);
    color: black;
    font-weight: 400;
    margin: 12% 0 10% 0;
    transition: 500ms;
    cursor: pointer;
}

.home-fccc-card-button:hover {
    background-color: white;
}

.home-service-button-container {
    display: none;
    overflow: hidden;
}

.bottom-container-four-button-container {
    height: 8vh;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.collaborate-button {
    width: 80%;
    /* background-color: red; */
    background-color: rgb(47, 43, 54);
    color: rgb(255, 226, 128);
    height: 66%;
    /* width: 100%; */
    margin: 10% 0 15% 0;
    border-radius: 22px 22px 22px 0;
    display: flex;
    /* justify-self: center; */
    align-items: center;
    justify-content: center;
    /* background-color: rgb(255,226,128); */
    transition: 300ms;
    /* color: rgb(47, 43, 54); */
    /* font-weight: 900; */
    cursor: pointer;
}

@media screen and (max-width:1100px) {

    .home-filler-div-one,
    .home-filler-div-two {
        display: none;
    }

    .home-container-three-top,
    .home-container-three-bottom {
        justify-content: space-around;
        align-items: center;
    }

    .home-service-one {
        margin: 0;
        width: 50%;
    }

    .home-service-two {
        width: 35%;
        margin: 0;
    }

    .home-service-two-button {
        width: 90%;
    }

    .home-service-three {
        width: 40%;
        background-color: rgb(255, 226, 128);
        margin: 0;
        /* color: black; */
    }

    .home-service-three>* {
        color: black;

    }

    .home-service-three-title {
        font-weight: bold;
    }

    .home-service-three-button {
        background-color: rgb(47, 43, 54);
        color: rgb(255, 226, 128);
        /* font-weight: 100; */
        width: 85%;
    }

    .home-service-four {
        width: 50%;
        margin: 0;
        /* margin-left: 5%; */
        /* margin-right: 4%; */
    }

    .home-service-four-button {
        width: 85%;
    }
}


@media screen and (max-width:875px) {
    .home-card-two-left-header {
        font-size: 3.5em;
    }
}

@media screen and (max-width:800px) {
    .home-top .home-header {
        width: 85%;
        font-size: calc(11vw);
        font-family: Tenor Sans;
        color: #40210b;
        padding-top: 50px;
    }

    .home-card-two-right {
        display: none;
        width: 0;
    }

    .home-card-two-left {
        width: 100%;
    }
}

@media screen and (max-width:560px) {
    .home-top .home-top-carousal {
        /* width: 85%; */
        /* height: 250px; */
        /* overflow: hidden; */
        /* background-color: aqua; */
        /* display: none; */
        margin-top: -3.4vh;
        /* margin: 0; */
    }

    .home-img-container .home-cover-img {
        width: 190%;
        height: 70vh;
        position: relative;
        top: -140px;
        left: -40px;
    }

    .home-container-one-cards-container {
        width: 100%;
    }

    .home-container-three-top,
    .home-container-three-bottom {
        display: flex;
        flex-direction: column;
        /* height: fit-content; */
    }

    .home-service-one,
    .home-service-two,
    .home-service-four,
    .home-service-three {
        border-radius: 10px;
        width: 90%;
        margin: 1% 0 3% 0;
    }

    .home-service-two,
    .home-service-four {
        background-color: rgb(47, 43, 54);
        color: rgb(255, 226, 128);
    }

    .home-service-three-text {
        margin-left: 9%;
        width: 80%;
    }

    .home-service-three-title {
        margin-left: 10%;
    }

    .home-service-button-container {
        height: 8vh;
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;
    }

    .home-service-button {
        width: 100%;
        background-color: rgb(255, 226, 128);
        color: rgb(47, 43, 54);
        height: 66%;
        /* width: 100%; */
        margin: 10% 0 15% 0;
        border-radius: 22px 22px 22px 0;
        display: flex;
        /* justify-self: center; */
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 226, 128);
        transition: 300ms;
        color: rgb(47, 43, 54);
        /* font-weight: 900; */
        cursor: pointer;
    }

    .home-bottom-container-three-bar {
        /* height: 5vh; */
        /* background-color: aquamarine; */
    }

    .home-bar-collab-text,
    .home-bar-collab-text-one {
        width: 30%;
        display: inline-flex;
        /* background-color: blue; */
        /* height: 50%; */
        text-wrap: nowrap;
        justify-content: flex-start;
        align-items: start;
        padding-top: 3%;
    }

    .home-bottom-container-three-title {
        margin-top: 0;
    }

    .home-bottom-container-four {
        margin-top: 1vh;
    }

    .home-service-one-button-container,
    .home-service-two-button-container,
    .home-service-three-button-container,
    .home-service-four-button-container {
        display: none;
        overflow: hidden;
    }


}

@media screen and (max-width:395px) {
    .home-card-one .home-card-one-title {
        width: 95%;
        font-size: calc(16vw);
        height: 100px;
        border-bottom: 1px solid black;
        font-family: Tenor Sans;
        margin-top: 60px;
        color: #40210b;
    }
}


.home-container-one-card-one,
.home-container-one-card-two,
.home-container-one-card-three {
    /* width: 540px; */
    width: calc(30vw);
    /* height: calc(34vw); */
    aspect-ratio: 5200/7000;
    /* height: 580px; */
    /* height: 60vh; */
    background-color: grey;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.home-product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1;
    /* transition: 1s ease-in-out; */
}

.home-product-name {
    position: absolute;
    text-align: center;
    width: 120%;
    font-size: 100%;
    font-weight: 1000;
    color: black;
}


@media screen and (max-width:560px) {
    .home-banner {
        display: none;
    }

    .home-banner-mobile {
        display: block;
    }

    .home-banner-mobile img {
        display: block;
    }

    .home-container-one-card-one,
    .home-container-one-card-two,
    .home-container-one-card-three {
        width: 90%;
        height: 90vw;
        background-color: grey;
        overflow: hidden;
        position: relative;
        border-radius: 20px;
    }
}

.home-carousel-container {
    /* height: 58vw; */
    width: 100vw;
    aspect-ratio: 1920/1080;
    /* background-color: orange; */
    overflow: hidden;
    /* position:fixed; */
    /* object-fit:contain; */
}

.home-carousel-image {
    /* height: 100%; */
    width: 100%;
    aspect-ratio: 1920/1080;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}