.forgot-password-form a {
    text-decoration: none;
    color: #c20000;
    font-size: 12px;
}

.forgot-password-form a:hover {
    text-decoration: underline;
}

.signup-btn {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    margin-top: 20px;
    border-radius: 5px;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    cursor: pointer;
    color: #2B2B2B;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    background: white;
    border: 1px solid #000000;
    text-decoration: none;
    width: 100%;
    transition: .2s ease-in-out;
    margin-bottom: 20px;
}

.signup-btn:hover {
    scale: 1.01;
}

@media (max-width: 550px) {
    .signup-btn {
        font-size: 16px;
    }
}