:root 
{
    --anim-0: grey;
    --anim-100: rgb(151, 150, 150);
}

.product-info .info .sub-block >* ,.product-info .info .sub-block .name-style-container > *, .product-info .price >* ,.user-info > * {
    margin: 0;
    padding: 0;
}

.container {
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    /* height: 180vh; */
    min-height: 69vh;
    /* padding-top:5vh ; */
    /* padding-left: 1.3vh; */
    padding: 1.5vh;
    width: 85%;
    /* width: fit-content; */
}
.order-my-order{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

.orders-card {
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
    background-color:#FCFCFC;
    width: 100%;
}
.dikshant-ka-idea{
    background-color: #cacaca;
    /* background-color:red; */
    margin-bottom: 10px;
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    padding: 5px;
    /* padding:; */
}
.orders-card .block {
    display: flex;
    padding: 10px 20px 5px 20px;
    width: 100%;
    /* gap: 10px; */
    height: fit-content;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
    /* background-color: teal; */
}
    
.orders-card .block:nth-child(3){
        
    /* border-bottom: 1px solid grey; */
    border: none;
}

.user-info {
    flex-direction: column;
    height: 100%;
    cursor:default;
}

.user-info .status-indicator-container{
    height: 100%;
    display: inline-flex;
    padding: 0.2rem;
    gap: 5px;
    align-items: center;
    width: 100%;
    /* background-color: #00C437; */
}

.status-img-container{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9E8DC;
    overflow: hidden;
    border-radius: 25px;
}

.status-img-container img{
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.status-text-container{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.status-text{
    font-size: 21px;
    font-family: Lato;
    color: #00C437;
    font-weight: bold;

    /* font */
}

.status-date{
    font-size: 14px;
    font-family: Lato;
    color: #808080;

}

.myorders-sm-text{
    font-size: 0.9rem;
    color: #555555;
    font-family: Lato;
    font-size: 14px;
    /* color: red; */
}

.smm-text {
    font-size: 0.7rem;
    color: #555555;
}

.orders-card .user-info p {
    width: 70%;
}


.product-info {
    display: flex;
    flex-direction: row;
    /* height:100%; */
    justify-content: space-between;
    align-items: center;
    /* height:100% */
    /* background-color: #00C437; */
    /* background-color: white; */
}

.product-info-container{
    display: inline-flex;
    /* flex-direction: column; */
}


.product-info .info {
    width: fit-content;
    /* width: 100%; */
    height: 100%;
    display: flex;
    gap: 15px;
    /* background-color: aquamarine; */
    align-items: center;
    /* width: 100%; */
}

.product-info .price {
    width: fit-content;
    scale: 1.2;
    margin-right: 30px;
}



.product-info .info img {
    height: 110px;
    object-fit: cover;
    aspect-ratio: 11/15;
    background-color: grey;
}


.product-info .info .sub-block
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    height: 100px;
    /* width: 100%; */
    /* background-color: aquamarine; */
}

.sub-block .name-style-container{
    /* background-color: #00C437; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sub-block .name-style-container h2{
    font-family: tenor sans;
    font-size: 24px;
}

.sub-block .name-style-container p{
    font-family: Lato;
    font-size: 16px;
    color: #555555;
}

.available-action.block{
    font-family: Inter;
    font-size: 18px;
    color: #555555;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    padding: 20px;
}

.available-action img:hover ~ .popup{
 opacity: 1;
}

.popup{
    background-color: #E9E9E9;
    position: absolute;
    left: 59%;
    top: 59%;
    font-family: tenor sans;
    font-size: 12px;
    max-width: 220px;
    padding: 15px;
    border-radius:5px ;
    box-shadow: 1px 1px 4px 0px #808080;
    opacity: 0;
    transition: 300ms;

}



.delivery-info{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px 0 20px 0;
    width: 100%;
    gap: 5px;
}

.my-orders-shop-navigation-button{
    background-color: #FFE281;
    margin-top: 50px;
    padding: 20px;
    width: 35%;
    border-radius: 10px;
    border: 1px solid #808080;
    transition: 300ms;
    font-family: tenor sans;
    font-size: 18px;
    cursor: pointer;
}
.my-orders-shop-navigation-button:hover{
    scale: 1.02;
}

/* .timeline{
    height: 12px;
    width: 82%;
    display: inline-flex;

    align-items: center;
    justify-content: center;
}
.timeline hr{
    border: none;
    border-top: 2.5px dashed grey;
    background-color: inherit;
    width: 80%;
    font-family: monospace;
}

.timeline .circle{
    height: 140%;
    aspect-ratio: 1/1;
    background-color: grey;
    border-radius: 50%;
}
.timeline-status{
    height: 30px;
    height: fit-content;
    width: 85%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}


.timeline-status .status{
    height: fit-content;
    width: 18%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

@keyframes flicker
{
    0%
    {
        background: var(--anim-0);
    }
    50%
    {
        background: var(--anim-100);
    }
    100%{
        background: var(--anim-0);
    }
  
}

.text-loader , .productImg-loader{
    background-color: var(--anim-0);
    animation: flicker 2s linear infinite;
}

.text-loader{
    border-radius: 3px ;
}

.product-info .info .productImg-loader {
    height: 110px;
    object-fit: cover;
    aspect-ratio: 11/15; 
    background-color: grey;
}



@media screen and (max-width:768px)
{
    .orders-card
    {
        /* transform: scale(0.9); */
    }

    
}