fa{
    border: 0;
    background-color: white;
}
.nav-navbar{
    background-color:white;
    /* background-color:red; */
    display: inline-flex;
    width: 100%;
    height: 11.6vh;
    position: fixed;
    top: 0px;
    z-index: 10;
    justify-content: space-between;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    /* padding: 10px 0 10px 0; */
    border-bottom: 1px solid #f8e9ae;
    box-shadow: 1px 0px 16px 0.1px rgb(185, 183, 183);
    overflow: hidden;
    transition: 100ms;
    /* display: none; */
    /* overflow-y: hidden; */
}

.nav-top-left{
    width: 25%;
    height: 100%;
    display: inline-flex;
    align-items: center;    
    z-index: 5;
    flex: 1;
    cursor: pointer;
    text-decoration: none;
    /* background-color: #ddddcc; */
}
.nav-instibuzz-logo{
    height: 98%;
}
.nav-instibuzz-title{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    color: #40210b;
}

.nav-navbar .nav-center{
    /* width: 100%; */
    flex: 3.5;
    height: 100%;
    display: inline-flex;
    justify-content:center;
    align-items: center;
    z-index: 5;
    /* background-color: aqua; */
}

.nav-navbar .nav-top-right{
    /* width: 25%; */
    flex: 1;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 5;
    /* background-color: aquamarine; */
}

.nav-navbar .nav-top-right .nav-profile-button{
    display: inline-flex;
    /* background-color: red; */
    background-color: #FFE281;
    height: 30px;
    width: 30px;
    /* width:150px; */
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    /* text-decoration: none; */
    color:#2b2b2b;
    /* font-size: 16px; */
    border-radius: 15px;
    transition: 600ms;
    cursor: pointer;
}

.nav-navbar .nav-top-right .nav-contact-button{   
    display: inline-flex;
    background-color: white;
    /* background-color: red; */
    padding: 10px;
    height: 22px;
    /* height: 80%; */
    width:160px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(64,63,43);
    border-radius: 10px;
    text-decoration: none;
    color:#40210b;
    /* color: black; */
    /* margin-top: 20px; */
}
.nav-navbar .nav-top-right .nav-profile-button-onclick
{
    box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.482);
}

.nav-navbar .nav-top-right .fa-shopping-bag{
    padding: 8px;
    padding-top: 7px;
    font-size: 20px;
    color:black;
    border: 0;
    background-color: white;
}

.nav-navbar .nav-top-right .fa-bars{
    visibility: collapse;
    display: none;
    border: 0;
    background-color: white;
}

.nav-navbar .nav-top-right .nav-contact-button:hover{
    background-color: #a6602d;
    color: white;
    border: 1px solid white;
}

.nav-navbar .nav-center .nav-center-content{
    /* width: 60%; */
    flex: 1;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nav-navbar .nav-center .nav-center-content > *{
    margin: 25px;
    /* width: 16%; */
    text-align: center ;
    text-decoration: none;
    color: #2B2B2B;   
    font-size: 17px; 
    font-family: lato;
    font-weight: 600;
}

.nav-navbar .nav-center .nav-center-content a:hover{
    scale: 1.02;
    color: #8c5732;
    cursor: pointer;
}

.fa-shopping-bag{
    cursor: pointer;
}

.nav-contact-button{
    cursor: pointer;
}

.nav-dropdown{
    display: none;
    /* z-index: 6; */
    z-index: inherit;
}

.nav-profile-dropdown{
    display: block;
    position: fixed;
    /* padding: 30px; */
    top: 80px;
    right: 15px;
    width: 300px;
    height: 350px;
    height: fit-content;
    z-index: inherit;
    border-radius: 12px;
    transition: 0.6s;
    overflow: hidden;
    background-color: #FCFCFC;
    display: inline-flex;
    flex-direction: column;

}

.nav-profile-dropdown > *{
    cursor: pointer;
    height: 50px;
    width: 80%;
    /* border-bottom: 1px solid black; */
    display: inline-flex;
    /* justify-content: center; */
    color: #2B2B2B;
    align-items: center;
    font-family: Lato;
    margin-left: 30px;
}
.nav-profile-dropdown *:nth-child(n+2):hover{
    text-decoration: underline;
}

.nav-profile-dropdown *:nth-child(1){
    /* text-decoration: underline; */
    margin: 30px 0 15px 30px;
}

/* nav-profile-dropdown :nth-child(1){
    margin-bottom: 10px;
    background-color: #40210b;
} */

/* .nav-profile-dropdown > * :hover {
    font-size:28px;
} */

.nav-wish-logo.fa-heart{
    border: 0;
    background-color: white;
    scale: 1.2;
    /* fill-opacity:calc(20px); */
    /* fill: black; */
    /* color: black; */
    /* background-color: black; */
}

.fa-heart{
    /* scale: 3; */
}

.nav-wish-logo:hover{
    cursor: pointer;
    /* margin-right: 5px; */
}
/* @media screen and (max-width:1095px){ 
    .nav-navbar .nav-center .nav-center-content{
        /* width: 65%; */
        /* height: 100%; */
        /* display: inline-flex; */
        /* justify-content: space-between; */
        /* align-items: center; */
    /* } */

    /* .nav-navbar .nav-top-left .nav-instibuzz-logo{
        height: 98%;
    } */
    
/* } */

@media screen and (max-width:965px){ 
    .nav-instibuzz-title{
        font-size:3.35vw;
        width: 64%;
    }
    .nav-navbar .nav-top-left .nav-instibuzz-logo{
        width: 36%;
        height: 80%;
    }
    
    
}
@media screen and (max-width:900px){ 
    /* .nav-navbar .nav-center .nav-center-content{
        width: 100%;
        height: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    } */

    .nav-instibuzz-title{
        width: 64%;
    }

    .nav-instibuzz-logo{
        width: 36%;
        height: 70%;
    }
    
    
}


@media screen and (max-width:860px) {
    .nav-navbar{
    background-color:white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0px;
    border-bottom: 1px solid #f8e9ae;
    box-shadow: 1px 0px 16px 0.1px rgb(185, 183, 183);
    height: 8vh;
    }

    .nav-top-left-bars{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width:40px;
        width: 5%;
        height: 60%;
    }

    .side-panel-button-container{
        width: 35%;
        height: 25%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    .btn-line, .btn-line-close{
        box-sizing: border-box;
        position: absolute;
        background-color: black;
        
        width: 100%;
        height: 2px;
        margin-bottom:10px ;
        transition: 1s;
    }

    .btn-line:nth-child(1){
        /* transform:translateY(100%); */
        top: 0;
        /* transform: rotateZ(45deg); */
    }
    .btn-line:nth-child(2){
        /* transform:translateY(100%); */
        top: 50%;
    }
    .btn-line:nth-child(3){
        /* transform:rotateZ(-45deg) ; */
        top: 100%;
    }

    .btn-line-close:nth-child(1) {
        top: 50%;
        transform: rotateZ(225deg);
    }
    .btn-line-close:nth-child(2) {
        height: 1px;
        top: 50%;
        transform: rotateZ(-45deg);
    }
    .btn-line-close:nth-child(3) {
        top: 50%;
        transform: rotateZ(315deg);
    }

    .side-panel-button-container:hover{
        transform: 1s rotateZ(360deg);
    }

    .nav-navbar .nav-center{
        width: 0;
        /* border-bottom: 1px solid black; */
        visibility: collapse;
    }
    
    .nav-navbar .nav-top-right{
        width: 65%;
        height: 100%;
        display: inline-flex;
        justify-content:right;
        align-items: center;
        gap: 10px;
    }

    .nav-navbar .nav-top-right .nav-contact-button{
        display: none;
    }


    .nav-dropdown{
        display: flex;
        flex-direction: column;
        /* overflow-y: auto; */
        position: fixed;
        top: 8vh;
        left: 0;
        /* width: 70%; */
        height: 100%;
        /* height: fit-content; */
        z-index: 22;
        transition: 0.5s;
        /* background-color: #FCFCFC; */
        color: #2b2b2b;
        /* box-shadow: 0px 12px 12px 5px rgba(0, 0, 0, 0.482); */
        font-family: Lato;
        /* align-items: center; */
        padding: 0;
        overflow: hidden;
    }

    .nav-dropdown-contents{
        background-color: #FCFCFC;
        width: 250px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
    }

    .nav-dropdown > .nav-dropdown-contents > *{
        box-sizing: border-box;
        /* background-color: #f8e9ae; */
        /* background-color: ; */
        width: 85%;
        margin: 10px 0px 20px 0px;
        flex-shrink: 0;
        font-family: Lato;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .nav-dropdown > .nav-dropdown-contents > * > a ,.nav-dropdown > .nav-dropdown-contents> * > span{
        box-sizing: border-box;
        text-decoration: none;
        padding: 0 10px 0 10px;
        color: #AAAAAA;
        font-size: 14px;
        /* background-color: #FF7F50; */
        height: 20px;
        /* max-width: 60%; */
        border-radius: 5px;
        /* max-width: 250px; */
        display: flex;
        align-items: center;
        width: 100%;
        height: 3.5vh;
        text-wrap: nowrap;
    }

    .nav-dropdown >.nav-dropdown-contents > * div{
        font-family: Lato;
        font-weight: 600;
        color: #555555;
        margin-left: 10px;
        text-wrap: nowrap;
    }

    .nav-dropdown > .nav-dropdown-contents > *:last-child{
        margin-bottom: 120px;
    }

    .nav-intro-container{
        gap: 0;
        /* background-color: #FFE281; */
        margin-top: 20px;
        padding-bottom:5px ;
        border-bottom: 1.5px solid #AAAAAA;
    }

    .nav-dropdown-contents .nav-logout-container{
        display: inline-flex;
        flex-direction: row;
        /* background-color: #FFE281; */
        height: 4vh;
        margin-bottom: 100px;
        align-items: center;
        gap: 4px;
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;        
        /* padding: 12px; */
    }

    .nav-dropdown-contents .nav-logout-container div{
        /* background-color: thistle; */

        color: black;
        font-weight: 500;
        font-size: 18px;
        margin: 5px 0 5px 0;

    }
        
    .nav-dropdown-contents .nav-logout-container img{
        margin: 5px 0 5px 5px;
        height: 100%;
        scale: 0.75;
    }
    
    .nav-navbar .nav-top-right .fa-shopping-bag{
        padding: 8px;
        font-size: 16px;
    }

    .nav-navbar .nav-top-right .nav-profile-button{
        display: none;
        /* background-color: #f8e9ae; */
    }

    .nav-wish-logo{
        display: none;
    }

    .fa-shopping-bag{
        margin-right: 10px;
    }
    
} 

@media screen and  (max-width: 780px){
    .nav-instibuzz-logo{
        width: 36%;
        height: 50%;
    }
    .nav-instibuzz-title{
        width: 64%;
    }
}

@media screen and (max-width:560px) {
    
    .nav-navbar .nav-top-left .nav-instibuzz-logo{
        width: 40%;
        object-fit:cover;
        scale: 0.9;
    }

    .nav-instibuzz-title{
        font-size: 5.8vw;
    }
}

@media screen and (max-width:380px) {
    
}
    
