.services-mobile-container {
    display: none;
}

.services-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5BD02;
    height: max(25vw, 240px);
}

.services-title h1 {
    font-size: max(4.44vw, 48px);
    color: #0F0F0F;
    font-weight: 100;
    margin: 0;
    margin-bottom: 10px;
}

.services-title p {
    color: #0F0F0F;
    width: 50%;
    font-size: max(0.97vw, 12px);
    margin: 0;
    padding: 0 5vw;
    text-align: center;
    font-weight: 300;
}

.services-container {
    position: relative;
}

.services-decorative-element {
    width: 30vw;
    position: absolute;
}

.services-decorative-element-1 {
    top: 0;
    right: 0;
}

.services-decorative-element-2 {
    bottom: 0;
    left: 0;
    transform: rotatez(180deg);
}

.services-container {
    padding: 60px 0;
}

.services-section {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.services-section img {
    width: 10vw;
    flex: 2;
}

.services-section-content {
    flex: 2;
    padding: 0 6.94vw;
    text-align: center;
}

.services-section-content h4 {
    font-size: clamp(20px, 1.94vw, 28px);
    margin-top: 0;
    font-weight: 800;
}

.services-section-content p {
    margin: 0;
    font-size: clamp(12px, 1.11vw, 16px);
    line-height: 1.4;
    color: #555555;
}

.services-btn {
    text-align: center;
}

.services-btn button {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 600;
    border: none;
    cursor: pointer;
    color: #2B2B2B;
    font-size: 16px;
    padding: 14px 0;
    background: #FFCB00;
    text-decoration: none;
    width: 400px;
    transition: .2s ease-in-out;
}

.services-btn button:hover {
    background-color: #FFB800;
    box-shadow: 0 0 4px 0 #FFB800;
}

.services-popup {
    position: fixed;
    width: 500px;
    border-radius: 7px;
    padding: 20px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    border: 1px solid #AAAAAA;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services-popup-close-btn {
    text-align: end;
}

.services-popup-close-btn button {
    padding: 0;
}

.services-popup h3 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
}

.service-input-parameter label {
    font-size: 12px;
}

.service-input-parameter input {
    margin-top: 2px;
    margin-bottom: 15px;
    padding: 10px 18px;
    background-color: transparent;
    border: 1px solid #808080;
    border-radius: 5px;
    outline: none;
    flex: auto;
    font-size: 14px;
    width: -webkit-fill-available;
}

.service-checkbox p {
    font-size: 12px;
    margin: 0;
    margin-bottom: 5px;
}

.service-checkbox {
    padding: 10px 0;
}

.service-services-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-services-input input {
    margin: 0;
    accent-color: #00ac31;
}

.service-services-input>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.service-checkbox label {
    font-size: 14px;
}

.service-input-parameter textarea {
    background-color: #E9E9E9;
    border: 1px solid #808080;
    height: 100px;
}

.services-popup-background {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .services-desktop-container {
        display: none;
    }

    .services-mobile-container {
        display: block;
    }

    .services-title {
        height: 180px;
    }

    .services-title h1 {
        font-size: 36px
    }

    .services-title p {
        font-size: 10px;
        width: 80%;
    }

    .services-decorative-element {
        width: 45%;
    }

    .services-decorative-element-2 {
        top: 0;
        left: 0;
        transform: rotateY(180deg);
    }

    .services-container {
        padding: 60px 4.7vw;
    }

    .services-section {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .services-section h4 {
        margin: 0;
        font-size: 20px;
    }

    .services-section p {
        margin: 10px 0;
        font-size: 12px;
        color: #555555;
    }

    .services-section img {
        width: 100%;
    }

    .services-btn button {
        width: 100%;
        font-size: 14px;
    }

    .services-popup {
        width: 80%;
        padding: 20px;
    }

    .services-popup h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .service-input-parameter label {
        font-size: 10px;
    }

    .service-input-parameter input {
        margin-bottom: 7px;
        font-size: 12px;
        padding: 8px 10px;
    }

    .service-checkbox label {
        font-size: 12px;
        margin-bottom: 1.5px;
    }

    .service-input-parameter textarea {
        font-size: 12px;
        padding: 8px 10px;
    }
}