.services-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 226, 128, 1);
    height: max(25vw, 240px);
}

.services-title h1 {
    font-size: max(3.854125vw, 42px);
    color: #2f2b36;
    font-weight: 100;
}

.services-divider {
    margin: 0 0 3vw 0;
}

.services-intro {
    font-size: max(1.1vw, 12px);
    padding: 5vw 5vw 3vw 5vw;
    font-weight: 200;
}

.services-our-service {
    padding: 0 5vw 3vw 5vw;
}

.services-our-service h3 {
    font-size: 1.4vw;
    font-weight: 400;
    margin: 0 0 2.64vw 0;
}

.services-our-service h2 {
    font-size: max(3.2vw, 32px);
    font-weight: 400;
    margin: 0;
}

.services-our-service-container {
    display: flex;
    margin-top: 3vw;
    gap: 40px;
}

.service-design .services-our-service-container {
    flex-direction: row-reverse;
}

.service-visibility .services-our-service-container {
    flex-direction: row-reverse;
}

.services-our-service-image-container {
    flex: 1;
}

.services-our-service-image-container img {
    width: 100%;
    height: 20vw;
    object-fit: contain;
    border-radius: 0.78vw;
}

.services-our-service-content {
    flex: 1.25;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
}

.service-design .services-our-service-content {
    justify-content: left;
}

.service-visibility .services-our-service-content {
    justify-content: left;
}

.services-our-service-content p {
    margin: 0;
}

.services-our-service-text {
    width: 85%;
}

.services-our-service-text p {
    font-size: max(1.1vw, 12px);
}

.services-our-service-text a {
    font-size: max(1.2vw, 14px);
    text-decoration: none;
    font-weight: 400;
}


.services-our-service-text a:hover {
    cursor: pointer;
} 

.services-contact-btn-container {
    text-align: center;
    margin-bottom: 25px;
}

.contact-btn {
    font-family: 'Poppins', sans-serif;
    margin-top: 22px;
    margin-bottom: 12px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 5px;
    color: #FEFAF0;
    font-size: max(1.1vw, 14px);
    background: #a6602d;
    padding: 8px 0;
    text-decoration: none;
    border: 1px solid #a6602d;
    font-weight: 400;
    transition: 200ms;
    width: 50%;
    cursor: pointer;
}

.contact-btn:hover {
    background: transparent;
    color: #a6602d;
}

@media (max-width: 768px) {
    .services-our-service-container {
        display: inline-block;
    }

    .services-our-service-image-container {
        display: none;
    }

    .services-our-service-content {
        justify-content: left;
    }
}