.privacy-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.privacy-title h1 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
    font-size: max(2.36vw, 34px);
    font-weight: 600;
}

.privacy-main-container {
    padding: 40px 11.6vw;
}

.privacy-container {
    margin-bottom: 3.21vw;
}

.privacy-container h2 {
    font-size: max(1.67vw, 24px);
    font-family: "Poppins", sans-serif;
    margin: 0;
    margin-bottom: 0.6vw;
    font-weight: 600;
}

.privacy-container p {
    font-size: 16px;
    margin: 0;
    color: #555555;
    line-height: 1.35;
    font-weight: 400;
}

@media (max-width: 600px) {
    .privacy-title {
        padding-top: 10px;
    }

    .privacy-title h1 {
        font-size: 24px;
    }

    .privacy-main-container {
        padding: 20px;
    }

    .privacy-container p {
        font-size: 14px;
    }

    .privacy-container h2 {
        font-size: 18px;
        font-weight: 500;
    }
}