.privacy-title {
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.privacy-title h1 {
    font-size: 3.854vw;
    font-weight: 400;
}

.privacy-main-container {
    padding: 5vw 15vw;
}

.privacy-container {
    margin-bottom: 3.21vw;
}

.privacy-container h2 {
    font-size: 2.65625vw;
    margin: 0;
    margin-bottom: 1.56vw;
    font-weight: 100;
}

.privacy-container p {
    font-size: 16px;
    margin: 0;
    line-height: 1.58;
    font-weight: 100;
}