.settings{
    height: fit-content;
    width: 100%;
    /* background-color: teal; */
    display: inline-flex;
    justify-content: center;
}

.settings-navigation-container{
    height: 100vh;
    width: 40%;
    background-color: white;
    display: inline-flex;
    /* align-items: end; */
    justify-content: end;
    /* position: relative; */
}
.wrapper{
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* position: sticky; */
    /* top: 0; */
}

.user-info-container{
    /* height: 100px; */
    width: 65%;
    padding: 2vh;
    /* padding-top: 8vh; */
    margin-top: 10vh;
    margin-bottom: 6vh;
    background-color: #F9E8DC;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: default;
}

.profile-button , .my-orders-button , .saved-address-button , .logout-button{
        /* height: 100px; */
        width: 65%;
        padding: 2vh;
        margin: 1vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid lightgrey;
        border-radius: 5px;
        font-size: 2vh;
        transition: 500ms;
        cursor: pointer;
}

.logout-button:hover{
    background-color:salmon;
    /* font-size: 2.05vh; */
}

.user-name{
    font-size: 3.5vh;
    font-family: Tenor Sans;
}

.user-email , .user-number{
    font-size: 1.5vh;
    color: grey;
    font-family: Lato;
}

.settings-body{
    padding: 0;
    margin: 0;
    /* flex: 5; */
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    /* height: 80vh; */
    /* overflow: scroll;     */
}

.setting-body-title{
    background-color: white;
    font-size: 36px;
    padding: 8vh 0 1vh 3vh;
}

.settings-body .setting-body-title img{
    font-size: 42px;
    scale: 2;
    padding: 20px;
}

.setting-body-content{
    /* background-color:thistle; */
    height: 86vh;
    /* width: fit-content; */
    /* width: 100%; */
    /* width: 100%; */
    overflow-y: auto;
    overflow-x: hidden;
    /* padding-top: 8vh; */
}

@media screen and (max-width:850px) {
    .settings-navigation-container{
        display: none;
    }

    .setting-body{
        width: 90%;
    }

    .setting-body-content{
        width: 100%;
    }

    .settings{
        width: 100%;
        /* background-color: aliceblue; */
    }
}


.setting-body-content::-webkit-scrollbar {
    display: none;
  }