:root 
{
    --anim-0: grey;
    --anim-100: rgb(151, 150, 150);
}

.shop{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    /* margin-right: 20px; */
}

.shop-main-container {
    margin: 0 20px
}

.shop-page-info{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.shop-page-banner{
    width: 100%;
    height: 280px;
    /* margin: 20px 0 20px 0px; */
}

.shop-page-banner .ban-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: grey;
    animation: flicker 2.1s linear infinite;
}

.shop-page-banner-mobile {
    display: none;
    width: 100%;
    height: 21.8vh;
    /* margin: 20px 0 20px 0px; */
}

.shop-page-banner-mobile .ban-img-mob {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: grey;
    animation: flicker 2s linear infinite;
}

.shop-navigation-container{
    width: 95%;
    height: fit-content;
    display: inline-flex;
    align-items: center;
}

.shop-navigation{
    /* width: 20%; */
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.shop-navigation .shop-path{
    font-size: calc(12px + 1.5vw - 0.5vh);
    margin: 5px 0 5px 2px;
    color: grey;

}

.shop-navigation .shop-count{
    font-size: 16px;
    margin: 5px 0 5px 2px;
    color: grey;
    display: inline-flex    ;
    justify-content: center;
    align-items: center;
    /* background-color: purple; */
}

.shop-container{
    /* width: 95%; */
    /* height: fit-content; */
    /* display: inline-flex; */
    display: flex;
    /* padding: 0 20px; */
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: calc(60vh); */
    /* height: fit-content; */
    /* background-color: #361c11; */
}

.shop-filter-container{
    flex: 1;
    /* width: 20%; */
    min-width: 190px;
    max-width: 250px;
    margin: 1vw;
    margin-left: 0;
    margin-right: 4vw;
    padding: 2vw;
    height: 100vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 12px;
}

.header{
    /* background-color: aliceblue; */
    display: inline-flex;
    justify-content: space-between;
}

.header > * {
    /* background-color: aqua; */
    /* margin: 5px; */
    margin: 0.3vw;
}
.header p {
    font-size: 22px;
}
.header div {
    font-size: 16px;
    /* background-color: red; */
    /* color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-filter, .style-filter {
    /* background-color: purple; */
    border-top: 1px solid gray;
    display: flex;
    flex-direction: column;
    padding: 0.5vw 0.5vw 2vh 0.5vw ;
    justify-content: center;
    /* align-items: center; */

}
.size-filter > h3, .style-filter > h3 {
    margin: 1vh 0 2vh 0;

}

.sz-fil, .sty-fil {
    /* width: 100%; */
    height: fit-content;
    /* background-color: aqua; */
    display: inline-flex;
    padding: 1% 4% 1% 4%;
    justify-content: space-between;
}

.sz-btn, .sty-btn {
    background-color: rgb(255, 236, 130);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: antiquewhite;
}

.active{
    background-color: rgb(113, 113, 253);
    color: aquamarine;
}

.sec-filter{
    background-color: antiquewhite;
    /* display:none; */  
}

.hide-filter{
    display: none;
}



.shop-cards-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(217px,244px));
    flex-wrap: wrap;
    /* gap:px; */
    justify-content:flex-start;
}

/* .product-card{
    height: 350px;
    width: 16%;
    background-color: pink;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 0;
    flex-shrink: 0;
} */
.product-card{
    height: 350px;
    /* width: 217px; */
    background-color: pink;
    padding: 5px;
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    gap: 0;
    flex-shrink: 0;
    box-shadow: 2px 2px 5px 1px rgb(170, 170, 170);
}

.product-img-container{
    height: 75%;
    width: 100%;
    background-color: rgb(113, 113, 253);
    position: relative;
    overflow: hidden;
}

.product-img-container .product-img{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.product-img-container .wishlist{
    height: 34px;
    width: 34px;
    border-radius: 17px;
    background-color: lavender;
    position: absolute;
    top: 3%;
    left: 81%;
    box-shadow: 1px 1px 5px 1px rgb(128, 128, 128)
}

.shop-products-display {
    margin-top: 30px;
    flex: 1;
    justify-content: center;
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(auto-fill, 250px);
    row-gap: 50px;
    column-gap: 50px;
    margin-bottom: 1vw;
    height: min-content;
    /* border-radius: 10px; */
    /* padding: 0; */
    /* background-color: brown; */
    
}

.shop-product-card {
    background-color: transparent;
    width: 100%;
    padding: 0;
    cursor: pointer;
    text-align: left;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    /* text-overflow: ellipsis; */
    border: none;
    /* transition: background-color .2s ease-in-out, color .2s ease-in-out, box-shadow .2s ease-in-out; */

    /* background-color: brown; */
    /* height: 266.67px; */
}


.shop-product-card .shop-image {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 10px;
    background-color: var(--anim-0);
    animation: flicker 2s linear infinite;
}

.shop-product-card .shop-image.loader{
    width: 100%;
    height: 266.67px;
    aspect-ratio: 3/4;
    /* object-fit: cover; */

    background-color: var(--anim-0);
    animation: flicker 2s linear infinite;
    background-color: brown;
}


@keyframes flicker
{
    0%
    {
        background: var(--anim-0);
    }
    50%
    {
        background: var(--anim-100);
    }
    100%{
        background: var(--anim-0);
    }
  
}

.shop-product-name .h2-name {
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 5px;

    /* background-color: aquamarine; */
}

.shop-product-card-divider {
    background: #aaaaaa;
}

.shop-product-name  .h2-name.loader
{
    height: 25px;
    background: var(--anim-0);
    animation: flicker 2s linear infinite;
    width: 60%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
}

.shop-product-style .product-style {
    font-family: "Poppins", sans-serif;
    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 400;
    color: #555555;
}

.shop-product-style .product-style.loader 
{
    background: var(--anim-0);
    width: 80%;
    animation: flicker 2s linear infinite;
    height: 15px;
    border-radius: 5px ;
}

.shop-product-price {
    display: flex;
}

.shop-product-price .price {
    margin-top: 0;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
}
.shop-product-price .price s {
    font-size: 18px;
    margin-left: 5px;
    color: #858585;
}

.shop-product-price p {
    color: #555555;
    font-size: 16px;
    margin: 0 0 2.5px 10px;
    align-self: end;
}

.shop-product-price .price.loader 
{
    height: 20px;
    width: 30%;
    background: var(--anim-0);
    animation: flicker 2s linear infinite;
    border-radius: 5px;
}

.shop-count .p-qty{
    height: calc(12px + 1.5vw - 0.5vh);
    background-color: black;
    width: 20px;
    background: var(--anim-0);
    animation: flicker 2s linear infinite;
    border-radius: 5px;
}

.shop-clear-all:hover{
    cursor: pointer;
}

@media (max-width: 780px) {
    .shop-page-banner {
        display: none;
    }

    .shop {
        margin-top: 0;
    }

    .shop-page-banner-mobile {
        display: block;
    }

    .shop-filter-container{
        display: none;
    }

    .shop-product-name .h2-name {
        font-size: 15px;
    }

    .shop-product-style .product-style {
        font-size: 12px;
    }

    .shop-product-price .price {
        font-size: 14px;
    }
}

@media (max-width: 580px) {
    .shop-products-display {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
        margin-bottom: 35px;
    }
}