.terms-title {
    height: max(25vw, 240px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.terms-title h1 {
    text-align: center;
    font-size: max(3.854125vw, 42px);
    font-weight: 300;
}

.terms-main-container {
    padding: 5vw 15vw;
}

.terms-container {
    margin-bottom: 3.21vw;
}

.terms-container h2 {
    font-size: max(2.1vw, 24px);
    margin: 0;
    margin-bottom: 0.6vw;
    font-weight: 300;
}

.terms-container p {
    font-size: 16px;
    margin: 0;
    line-height: 1.58;
    font-weight: 200;
}