.wishlist-main-container {
    padding: 20px 40px; 
}

.wishlist-main-container h1 {
    font-size: 24px;
}

@media (max-width: 525px) {
    .wishlist-main-container {
        padding: 0 15px; 
    }
}