.wishlist-main-container {
    padding: 20px 40px; 
}

.wishlist-main-container h1 {
    font-size: 24px;
}

.wishlist-remove-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.816);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: center;
}

@media (max-width: 525px) {
    .wishlist-main-container {
        padding: 0 15px; 
    }
}